.flexibleContainerCell
{
	/*padding-top: 20px;*/

	padding-right: @gutter;
	padding-left: @gutter;
}
.flexibleImage
{
	height: auto;
}
.bottomShim
{
	padding-bottom: 20px;
}
.imageContent,
.imageContentLast
{
	padding-bottom: 20px;
}
.nestedContainerCell
{
	/*padding-top: 20px;*/

	padding-right: 20px;
	padding-left: 20px;
}


